/* Slider styles */
img{
    max-width: 100%;
}
.slider-container {
    width: 100%;
    max-width: 1200px;
    overflow: hidden;   
    border: 2px solid #ffffff; /* Use Platinum color for the border */
    border-radius: 8px;
    position: relative;
    margin: 30px; /* Adjust margin to match other sections */
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ffffff; /* Use Platinum color for the border */
}

.slide-content {
    padding: 20px;
    text-align: center;
    background-color: #212121; /* Use Platinum color for the background */
    color: #ffffff; /* Text color for the slide content */
}

/* Slide buttons styles */
.slide-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.slide-button {
    background-color: #ffffff; /* Use Platinum color for the button background */
    color: #212121; /* Text color for the button */
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px; /* Optional: Add rounded corners for the button */
}

/* Home */
.text-chunk{
    margin: 30px;
}
.message{
    background-color: #e8e8e8; /* Use Platinum color for the body background */
    font-family: Arial, sans-serif; /* Specify a font-family */
    text-align: center;
    font-size: 1.5em;
    line-height: 1.6; /* Adjust line height for readability */
}