body {
    background-color: #e8e8e8;
    margin: 0px;
    font-family: Georgia , sans-serif;
    line-height: 1.6;
    
}

header {
    background: #212121; /* Use Platinum color */
    color: #212121; /* Text color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

section{
    margin: 20px;
}
/* Footer styles */
footer {
    background: #212121;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

h1 {
    color: #ffffff;
}


h2 {
    font-family: Arial, sans-serif;
    font-size: 2em;
    margin: 0 0 0 0;
}

q {
    align-content: center;
    font-style: italic; /* Italicize the text */
    border-left: 4px solid #212121; /* Add a left border for emphasis */
    margin: 20px 0; /* Add some spacing */
    padding: 10px; /* Add padding for better readability */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    color: #212121;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-style: solid;
    border-color:#212121;
  }


button:hover {
    background-color: #212121;
    color: #ffffff;
    border-color:#e8e8e8;
  }